@import url('https://fonts.googleapis.com/css2?family=Alkatra:wght@400;500&family=Berkshire+Swash&family=Open+Sans:wght@300;400;500&family=Outfit:wght@300;400;600;700&family=Overpass:wght@400;700&family=Poppins:ital,wght@0,400;0,500;0,600;0,700;0,900;1,600&family=Press+Start+2P&family=Red+Hat+Display:wght@500;700;900&family=Roboto:ital,wght@0,400;1,700&family=Rubik:wght@300;400;500&family=Sarala:wght@400;700&family=Space+Mono:wght@700&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    border: none;
    font-family: 'press start 2p';
}
main {
    background-image: url(../img.harry/hogwards-1.png);
    background-size: cover;
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    padding: 15px 15px 45px;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 500px;
    background-color: rgba(188, 180, 34, 0.484);
    font-size: 1em;
    padding: 10px;
    margin: 0 0 30px;
    border-radius: 5px;
    color: aliceblue;
}

.grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
}

.card {
    aspect-ratio: 3/4;
    width: 100%;
    background-color: rgba(134, 217, 191, 0.666);
    border-radius: 5px;
    position: relative;
    transition: all 400ms ease;
    cursor: pointer;
    transform-style: preserve-3d;
}
.face {
    width: 100%;
    height: 100%;
    position: absolute;
    background-position: center;
    border: 2px solid #d5f027f3;
    border-radius: 5px;

    transition: all 500ms ease;

}
.front {
    background-size: cover;
    transform: rotateY(180deg);
}
.back {
    background-image: url('../img.harry/fundo.card.2.png');
    background-size: 200px;
    backface-visibility: hidden;
}

.reveal-card {
    transform: rotateY(180deg);
}

.disabled-card {
    filter: saturate(0);
    opacity: 0.8;
}
#startButton {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 500px;
    background-color: rgba(188, 180, 34, 0.484);
    font-size: 1em;
    padding: 15px;
    margin-top: 1rem;
    border-radius: 5px;
    color: aliceblue;
    cursor: pointer;
}

#startButton:hover {
    background-color: rgba(188, 180, 34, 0.8);
    transition: background-color 0.3s ease;
}
@media (max-width: 600px) {
    #startButton {
        font-size: 1em;
        padding: 20px;
    }
    .back {
        background-image: url('../img.harry/fundo.card.2.png');
        background-size: 150px;
        backface-visibility: hidden;
    }
}
@media (max-width: 375px) {

    header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        max-width: 400px;
        background-color: rgba(188, 180, 34, 0.484);
        font-size: 1em;
        padding: 5px;
        margin: 0 0 30px;
        border-radius: 5px;
        color: aliceblue;
    }
    
    #startButton {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        max-width: 400px;
        background-color: rgba(188, 180, 34, 0.484);
        font-size: 1em;
        padding: 10px;
        margin-top: 1rem;
        border-radius: 5px;
        color: aliceblue;
        cursor: pointer;
    }
    
    #startButton:hover {
        background-color: rgba(188, 180, 34, 0.8);
        transition: background-color 0.3s ease;
    }
    .back {
        background-image: url('../img.harry/fundo.card.2.png');
        background-size: 150px;
        backface-visibility: hidden;
    }
}