@import url('https://fonts.googleapis.com/css2?family=Alkatra:wght@400;500&family=Berkshire+Swash&family=Open+Sans:wght@300;400;500&family=Outfit:wght@300;400;600;700&family=Overpass:wght@400;700&family=Poppins:ital,wght@0,400;0,500;0,600;0,700;0,900;1,600&family=Press+Start+2P&family=Red+Hat+Display:wght@500;700;900&family=Roboto:ital,wght@0,400;1,700&family=Rubik:wght@300;400;500&family=Sarala:wght@400;700&family=Space+Mono:wght@700&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    border: none;
    font-family: 'press start 2p';
}
body {
    background: linear-gradient(rgba(10, 10, 10, 0.87), rgba(251, 210, 4, 0.456), rgba(11, 11, 11, 0.825))
}